body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}
.row-header {
  margin: 0px auto;
  padding 0px auto;
}
.row-content {
  margin: 0 auto;
  padding: 50px 10px;
  min-height: 400px;
}
.history {
  margin: 0px auto;
  padding: 60px 10px;
}


.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px; 
}

.jumbotron {
  margin: 0px auto;
  background: purple;
  color: floralwhite;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: black;
}

.card-header  {
  background-color: #ffb300 !important;
  font-weight: 800;
}
.radio_btns {
  padding: 0 15px;
}//adding padding to align with the "Reserve" button


.btn-sm {
  padding: 8px 12px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.navbar-text {
  font-size: 1.5rem;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
